<div class="page-header">
  <h2>プロフィール編集画面</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%- unless current_user.email.match(/example\.com/) -%>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>
  <%- end -%>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <small>（変更したくない場合は空欄にしてください）</small><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <small>（プロフィール変更確認のため、現在のパスワードを入力してください）</small><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update", :class => "btn btn-primary" %></div>
<% end %>

<%= link_to "Back", :back %>
